
.selectorTextL{
  font-family: 'Shree Devanagari 714';
  color: #727272;
  cursor: pointer;
  font-size: 18px;
}

.selectedLBox {
  width: 271px;
  height: 40px;
  display: inline-block;
  background-image: url(/static/media/goldbackground.f3c77173.png);
  background-repeat: repeat;
  top: -5px;
  position: relative;
  left: 7px;
}
.selectedRBox {
  width: 271px;
  height: 40px;
  display: inline-block;
  background-image: url('../../images/goldbackground.png');
  background-repeat: repeat;
  top: -5px;
  position: relative;
  left: -6px
}

.selectorLBox {
width: 260px;
height: 29.5px;
display: inline-block;
border: 1px solid #727272;
background: white;
margin-top: 18px;
}

.selectorNBox {
width: 260px;
height: 29.5px;
display: inline-block;
background: white;
margin-top: 18px;
}
