.mainLeftContainer {
  width: 47%;
  height: 100%;
  border: 1px solid red;
  margin-right: 60px;
  float: left;
}

.verticalCarousel{
  width: 100%;
  height: 100%;
  margin-top: 65px;
}

.backCanvas{
  width: 389.27px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.frontCanvas{
  width: 47%;
  height: 440.19px;
  z-index: 1;
  background-color: white;
  position: absolute;
  margin-top: 280px;
}

.topButton {
  transform: rotate(90deg);
  display: inline-block;
  float: left;
}

.downButton {
  transform: rotate(90deg);
  display: inline-block;
  float: right;
}

.socialsTitle{
  font-size: 20.1px;
  color: #4C4C4C;
  font-family: 'Shree Devanagari 714';
  display: inline-block;
}
