.sPagesContainerBody {
  width: 100%;
}

.moveSpacing2 {
  margin-top: 30px;
}

.moveShopBody {
  left: -250px;
  width: 1207px;
  margin: 0px;
  position: absolute;
}

.defaultShopBody {
  width: 1325px;
  margin: 0 auto;
}

.basket {
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  position: relative;
  top: -308px;
  left: 500px;
}
