.summaryReview{
  width: 300px;
  height: 37%;
  display: inline-block;
}

.recentReview{
  width: 300px;
  height: 29%;
  display: inline-block;
}

.recentTitle{
  font-family: 'Shree Devanagari 714';
  font-size: 27px;
  color: #727272;
  padding-top: 27px;
}
